* {
  box-sizing: border-box;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.square {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  background: none;
}
